body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}


#your-choice {
    width: 90px;
    height: 90px;
    background-color:palevioletred;
    margin-top: 10px;
}

#computer-choice {
    width: 90px;
    height: 90px;
    background-color: grey;
    margin-top: 10px;

}

#choices {
    width: 270px;
    height: 90px;
    background-color: darkblue;
    margin: 0 auto;
    margin-top: 10px;
}

#choices img {
    width: 90px;
    height: 90px;
    
}
